    
  * {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* navigation bar */
  .nav {
    display: flex;
    height: 60px; 
    /* border: 1px solid black; */
    justify-content: space-between;
    /* position: fixed; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    
  }

  .nav>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* border: 1px solid red; */
  }

  .nav>div:nth-child(2) {
    display: flex;
    align-items: center;
    width: 23%;
    /* border: 1px solid green; */
  }

  .nav>div:nth-child(2)>button {
    margin-left: 20px;
  }

  .nav>div:nth-child(1)>div:nth-child(1) {
    width: 20%;
    /* border: 1px solid gold; */
  }

  .nav>div:nth-child(1)>div>img {
    height: 100%;
    width: 100%;
  }

  .nav>div:nth-child(1)>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    /* border: 1px solid purple; */
  }

  .nav>div:nth-child(1)>div:nth-child(2)>div {
   font-size: 20px;
  }

  .ncont>button {
    padding: 17px;
    font-size: 16px;
    border: 0;
    background-color: white;
  }

  .ncont>button:hover {
    background-color: rgb(243, 125, 125);
  }

  .dropbut {
        /* background-color: #04AA6D; */
        /* color: white; */
        padding: 16px;
        font-size: 16px;
        border: none;
        background-color: white;
    }

    .drop {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        min-width: 230px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        padding: 10px;
    }

    .dropdown-content a {
        color: blue;
        padding: 5px 7px;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: rgb(192, 119, 188);
        color: white;
    }

    .drop:hover .dropdown-content {
        display: block;
    }

    .drop:hover .dropbut {
        background-color: lightpink;
        color: rebeccapurple;
    }

    /* top section */

    .top {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid black; */
        /* margin-top: 30px; */
        overflow: hidden;
        
    }

    .top>div>h1 {
        color: rgb(169, 64, 218);
       
    }

    .top>div:nth-child(1) {
        padding: 20px;
        margin: 10px;
        width: 50%;
        /* border: 1px solid black; */
    }

    .top>div:nth-child(1)>h1 {
        margin-top: 100px;
    }

    /* .img-slid {
        border: 1px solid black;
        width: 50%;
        border-radius: 50%;
    }

    .name-slid {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
    }

    .img-slid>img {
        width: 50%;
        text-align: center;
        height: 110%;
    } */

    .emlo{
        /* border: 1px solid black; */
        width: 50%;
        z-index: -1;
        margin: 180px -190px;
        border-radius: 80px;
        transform: translateX(-80px) translateY(-200px) rotate(330deg);
        overflow: hidden;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        background-image: linear-gradient(40deg, lavender, gray);
       }

       .name_s {
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
       }

       .name_s>img {
        text-align: center;
        width: 60%;
        height: 100%;
        rotate: 30deg;
        margin-bottom: -50px;
       }

       .name_s>h3 {
        /* rotate: 30deg; */
        margin-left: -230px;
        z-index: 1;
       }

    .butn {
        padding: 10px;
        border-radius: 19px;
        border: 0px;
        font-weight: 600;
        /* background-color: rgb(189, 16, 189); */
        background-image: linear-gradient(105deg,rgb(50, 8, 165),rgb(164, 31, 216));
        margin: 5px;
        z-index: 1;
        color: white;
    }

    .butn:hover {
        transform: scale(1.1);
        transition: 200ms;
    }

    /* .top>div:nth-child(2) {
        border-radius: 15px 50px;
        
        margin: 10px;
    } */

    /* .top>div:nth-child(2)>img {
        width: 70%;
    } */

    /* moving slide */

    .slider {
        /* border: 1px solid rebeccapurple; */
        height: 250px;
        margin: auto;
        position: relative;
        width: 90%;
        display: grid;
        place-items: center;
        overflow: hidden;
        /* margin-top: 30px; */
    }

    .slide_track {
        /* border: 1px solid yellowgreen; */
        display: flex;
        width: calc(250px*22);
        animation: scroll 40s linear infinite;
    }

    .slide_track:hover {
        animation-play-state: paused;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(calc(-250px * 11));
        }
    }

    .slide {
        /* border: 1px solid olive; */
        width: 200px;
        height: 250px;
        display: flex;
        align-items: center;
        padding: 15px;
        perspective: 100px;
    }

    img {
        width: 100%;
    }

    img:hover {
        transform: translateZ(20px);
    }

    .slider::before,
    .slider::after {
        background: linear-gradient(to right, rgba(255, 255, 255,1) 0%,
        rgba(255, 255, 255, 0) 100%);
        content: '';
        height: 100%;
        position: absolute;
        width: 15%;
        z-index: 2;
    }

    .slider::before {
        left: 0;
        top: 0;
    }

    .slider::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    /* top2 section */

    .top2 {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
        margin-bottom: 60px;
        /* border: 1px solid black; */
    }

    .top2>div:nth-child(1) {
        padding: 20px;
    }

    .top2>div:nth-child(2) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 15px;
    }

    .top2>div:nth-child(1)>h1 {
        color: rgb(196, 130, 226);
    }

    .top2>div:nth-child(2)>div {
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin: 10px;
        padding: 10px;
    }

    .top2>div:nth-child(2)>div:hover {
        transform: scale(1.1);
        transition: 500ms;
    }

    .top2>div:nth-child(2)>div>img {
        width: 40%;
    }

    .cent {
        text-align: center;
    }

    .col {
        color: rgb(49, 49, 161);
    }

    /* middle section */

    .mid {
        height: 40px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        /* border: 1px solid black; */
        margin-top: 70px;
        padding: 10px;
        /* background-color: lightgreen; */
        background-image: linear-gradient(190deg, rgb(194, 135, 135) , rgb(68, 206, 211));
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .mid>div {
        font-weight: 900;
        color: white;
    }

    /* info section */

    .info {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        gap: 30px;
        width: 80%;
        /* border: 1px solid chartreuse; */
        margin: auto;
        padding-top: 30px;
        /* position: fixed; */
    }

    .info>div {
        margin: 20px;
    }

    .info>div>h1 {
        color: rgb(49, 49, 161);
    }

    .table {
        width: 85%;
        display: flex;
        justify-content: space-between;
        margin-top: 35px;
        /* border: 1px solid orange; */
        margin: auto;
        padding: 110px 0px;
    }

    .table>div:nth-child(1) {
        width: 30%;
        margin-right: -200px;
        z-index: 1;
    }

    .table>div:nth-child(2) {
        width: 60%;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
        border-radius: 12px;
        padding-left: 300px;
    }

    .table>div:nth-child(2)>h1 {
        margin: 40px 0px;
    }

    .table>div:nth-child(1)>img {
        width: 80%;
        padding-left: 20px;
    }

    .table>div:nth-child(2)>div {
        display: flex;
        flex-wrap: wrap;
    }

    /* linear gradient box */

    .cont {
        display: flex;
        /* justify-content: space-between; */
        /* border: 3px solid black; */
        padding: 10px;
        margin: 150px 0px;
        background-image: linear-gradient(105deg,rgb(50, 8, 165),rgb(164, 31, 216));
    }

    .c1 {
        width: 45%;
        /* border: 1px solid red; */
        padding: 5px;
        margin-right: 40px;
    }

    .c1>h3 {
        margin: 15% 0%;
        font-size: 34px;
        font-weight: 600;
    }

    .c1>div {
        height: 50px;
        /* border: 1px solid green; */
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 35px;
        padding: 2%;
        background-color: #1d0968;
    }

    .c1>div:hover {
        transform: scale(1.03);
        transition: 200ms;
    }

    .c1>div>div:nth-child(2)>button {
       height: 45px;
       border-radius: 35px;
       border: 0;
       font-size: 18px;
       background-color: #7f45ff;
       color: white;
    }

    .c1>div>div:nth-child(2)>button:hover {
        transform: scale(1.03);
        transition: 200ms;
    }

    .c2 {
        width: 45%;
        /* border: 1px solid red; */
        padding: 5px;
        margin-top: -100px;
    }

    .c2-A {
        /* border: 1px solid black; */
        padding: 48px 44px;
        border-radius: 13px;
        margin: 0 auto;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        background-color: white;
        width: 250px;
    }

    .c2-A>div {
        width: 20%;
        border-radius: 50%;
    }

    .c2-A>div>img {
        width: 100%;
        border-radius: 50%;
    }

    .c2-A>p {
        margin: 20px 0px;
    }

    .c2-A>p>span {
        color: blue;
    }

    .c2-B {
        /* border: 1px solid black; */
        display: flex;
        justify-content: space-between;
        margin: 50px 0px;
        /* background-color: #1d0968; */
    }

    .c2-B>div {
        width: 17%;
    }

    .c2-B>div>img {
        width: 100%;
    }

    .c1>h3 {
        color: white;
    }

    .c1>div>div:nth-child(1)>h3 {
        color: white;
    }

    /* bottom section */

    .bot {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        gap: 15px;
        width: 80%;
        margin: auto;
        padding-top: 30px;
    }

    .bot>div>h2 {
        color: rgb(28, 79, 190);
    }

    .bot>div>p {
        color: black;
        font-size: 18px;
    }

    /* media section */

    .media {
        display: flex;
        justify-content: space-evenly;
        margin-top: 100px;
        /* border: 1px solid black; */
        padding: 30px;
    }

    .media>div:nth-child(1)>img {
        width: 60%;
    }

    .media>div:nth-child(1):hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .media>div:nth-child(2):hover {
        transform: scale(1.1);
        transition: 1s;
    }

    .boom:hover {
        transform: scale(1.05);
        transition: 300ms;
    }

    a {
        display: block;
       font-size: 20px;
       text-decoration: none;
    }

    a:hover {
        transform: scale(1.1);
        transition: 300ms;
    }

    p {
        color: rgb(97, 90, 90);
        margin: 20px 0px;
    }

    @media screen and (min-width:450px) and (max-width: 882px)  {
        .pri {
            display: none;
        }

        .table {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .table>div:nth-child(2) {

            padding-left: 20px;
    
        }

        .table>div:nth-child(1) {
            width: 30%;
            margin: 0;
            z-index: 1;
        }

        .cont {
            display: flex;
            flex-direction: column-reverse;
        }

        .c1 {
            width: 70%;
            margin: auto;
        }

        .c1>h3 {
            text-align: center;
        }

        .c2 {
            width: 80%;
            margin: auto;
        }
    }