* {
    font-family: Arial, Helvetica, sans-serif;
  }
  .cont {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 15px;
    margin-left: 10%;
    margin-top: 50px;
  }

  .cont>div:nth-child(1) {
    width: 40%;
    /* border: 1px solid black; */
  }

  .cont>div:nth-child(1)>img {
    width: 100%;
  }

  .cont>div:nth-child(2) {
    width: 40%;
    /* border: 1px solid black; */
    padding: 10px;
  }

  input[type="email"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 19px;
    box-sizing: border-box;
  }

  input[type="password"] {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 19px;
    box-sizing: border-box;
  }

  input[type="submit"] {
    width: 40%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 6px;
    margin-bottom: 15px;
    font-size: 19px;
    box-sizing: border-box;
    border: 0;
    background-color: orangered;
    color: white;
  }

  input[type="submit"]:hover {
    transform: scale(1.05);
    transition: 300ms;
  }

  input[type="email"]:hover {
    transform: scale(1.05);
    transition: 300ms;
  }

  input[type="password"]:hover {
    transform: scale(1.05);
    transition: 300ms;
  }

  form>img {
    width: 80%;
    margin-left: 10%;
  }

  form>img:hover {
    transform: scale(1.05);
    transition: 300ms;
  }

  span {
    color: rgb(28, 28, 185);
    margin-left: 43px;
  }

  p {
    color: rgb(28, 28, 185);
    text-align: center;
  }

  p:hover {
    transform: scale(1.05);
    transition: 300ms;
  }

  @media screen and (min-width:300px) and (max-width:900px) {
    .cont {
      display: grid;
      grid-template-columns: repeat(1,1fr);
      grid-template-rows: auto;
      gap: 20px;
     padding-left: 30%;
    }
  }